.secretButton {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  text-align: left;
}

.error {
  margin-left: 1em;
  color: orange;
  font-size: 11pt;
}

.overriddenValue {
  color: lightblue;
}
