.row:global(.omrs-unstyled) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: inherit;
  padding: 0.625rem 0.25rem 0.625rem 1rem;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.row:global(.omrs-unstyled):visited,
.row:global(.omrs-unstyled):hover,
.row:global(.omrs-unstyled):active,
.row:global(.omrs-unstyled):focus,
.row:global(.omrs-unstyled):active:hover {
  padding: 0.625rem 0.25rem 0.625rem 1rem;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: inherit;
  border-radius: 0;
}

.row:not(:last-child) {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}
