@use '@carbon/layout';

:root {
  --omrs-sidenav-width: 16rem;
  --omrs-offline-banner-height: 0;
  --omrs-navbar-height: #{layout.$spacing-09};
  --omrs-topnav-height: var(--omrs-navbar-height);
}

.omrs-main-content {
  margin-left: 0;
  transition: margin-left 0.5s ease;
}
