:root {
  --omrs-sidenav-width: 16rem;
  --omrs-offline-banner-height: 0rem;
  --omrs-navbar-height: 3rem;
  --omrs-topnav-height: var(--omrs-navbar-height);
}

.omrs-main-content {
  margin-left: 0;
  transition: margin-left 0.5s ease;
}

.omrs-offline {
  --omrs-offline-banner-height: 1.5rem;
  --omrs-topnav-height: 4.5rem;

  .cds--side-nav,
  .cds--header-panel--expanded,
  .cds--side-nav__overlay {
    top: var(--omrs-topnav-height);
  }
}
