.tools {
  position: fixed;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  gap: 4em;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #c0c0c0;
  z-index: 2;
}

.tools > div {
  flex: 0 1 auto;
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.mainContent {
  background-color: #f0f0f0;
  margin-top: 72px;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.configTreePane {
  height: calc(50vh - 114px);
  width: 55%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
}

.descriptionPane {
  height: calc(50vh - 114px);
  width: 45%;
  background-color: #e0e0e0;
  color: #424242;
  padding: 1em 2em;
  font-size: 12pt;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.configTreePane :global(.bx--text-input-wrapper) {
  min-width: 8em;
}

.fullWidthAccordion :global(.bx--accordion__content) {
  padding-right: 0;
}

.valueEditorInput {
  width: 25em;
}

.valueEditorButtons {
  height: 2.5rem;
  min-width: 5em;
  margin-left: 1em;
}
