.tools {
  position: fixed;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  gap: 4em;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #c0c0c0;
  z-index: 2;
}

.tools > div {
  flex: 0 1 auto;
}

.mainContent {
  background-color: #f0f0f0;
  margin-top: 72px;
  width: 100%;
  overflow-y: auto;
}

.halfWidth {
  width: 50%;
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.valueEditorInput {
  width: 25em;
}

.valueEditorButtons {
  height: 2.5rem;
  min-width: 5em;
  margin-left: 1em;
}
