.container {
  background-color: #e0e0e0;
  color: #424242;
  border: 1px solid #c0c0c0;
  padding: 1em;
  font-size: 12pt;
  position: fixed;
  height: calc(50% - 160px);
  width: 38%;
  right: 3%;
  bottom: 3%;
}

.path {
  color: #303030;
  margin-bottom: 1em;
}

.description {
  margin-bottom: 0.5em;
}

.source {
  font-style: italic;
  margin-bottom: 0.5em;
}

.value {
  font-family: monospace;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
