.path {
  color: #303030;
  margin-bottom: 1em;
}

.description {
  margin-bottom: 0.5em;
}

.source {
  font-style: italic;
  margin-bottom: 0.5em;
}

.value {
  font-family: monospace;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
