@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../../implementer-tools.styles.scss';

.path {
  @include type.type-style('heading-02');
  margin-bottom: spacing.$spacing-03;
}

.description {
  @include type.type-style('body-compact-01');
  margin-bottom: spacing.$spacing-05;
}

.source {
  @include type.type-style('body-compact-01');
  font-style: italic;
  margin-bottom: spacing.$spacing-03;
}

.value {
  font-family: monospace;
  margin-top: spacing.$spacing-03;
  margin-left: spacing.$spacing-03;
}
