@import "../../implementer-tools.styles.scss";
@import "~@openmrs/esm-styleguide/src/vars";

.secretButton {
  background: none;
  color: #474b6b;
  border: none;
  font: inherit;
  text-align: left;
}

.error {
  margin-left: 1em;
  color: orange;
  font-size: 11pt;
}

.overriddenValue {
  color: #2020a0;
}

.elementValue {
  display: flex;
  align-items: flex-start;
}

.buttons {
  background-color: $ui-background;
  border: 1px solid $ui-background;
  border-radius: 50%;
  margin-left: $spacing-05;
  margin-top: -5px;
}
