@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.toolStyles {
  background-color: transparent;
}

// Chevron button - implementer-tools component
.chevronImplementerToolsButton {
  position: fixed;
  bottom: 0;
  left: calc(50vw - layout.$spacing-05);
  z-index: 9999;

  div {
    background-color: $ui-02;
    width: layout.$spacing-07;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  div:hover {
    padding: layout.$spacing-03 0;
  }
}

.darkTheme {
  @include theme.theme(themes.$g90);
}

.secretButton {
  background: none;
  color: #474b6b;
  border: none;
  font: inherit;
  text-align: left;
}

.error {
  margin-left: 1em;
  color: orange;
  font-size: 11pt;
}

.overriddenValue {
  color: #2020a0;
}

.elementValue {
  display: flex;
  align-items: center;
}

.editValueButton {
  margin-left: layout.$spacing-05;
}
