@use '@carbon/styles/scss/spacing';
@import '../../implementer-tools.styles.scss';

.valueEditorButtons {
  margin-top: spacing.$spacing-03;
  :global(.cds--btn--primary) {
    background-color: #706d6d;

    &:hover {
      background-color: #8d8a8a;
    }
  }

  :global(.cds--btn--secondary) {
    background-color: #da1e28;

    &:hover {
      background-color: #b81921;
    }
  }
}
