@use '@carbon/layout';
@use '@carbon/styles/scss/components/button';
@use '@carbon/styles/scss/theme';

.errorMessage {
  color: theme.$text-error;
  font-size: layout.$spacing-04;
  margin-top: layout.$spacing-02;
}

.valueEditorButtons {
  margin-top: layout.$spacing-03;

  :global(.cds--btn--primary) {
    background-color: button.$button-primary;
    &:hover {
      background-color: button.$button-primary-hover;
    }
  }
}

.arrayEditorRow {
  margin-bottom: layout.$spacing-03;
}

.translationOverrideSection {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
}

.translationOverrideRow {
  display: flex;
  align-items: end;
  gap: layout.$spacing-03;

  div {
    flex: 1;
  }
}
