@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/components/button';
@import '../../implementer-tools.styles.scss';

.valueEditorButtons {
  margin-top: spacing.$spacing-03;
  :global(.cds--btn--primary) {
    background-color: button.$button-primary;
    &:hover {
      background-color: button.$button-primary-hover;
    }
  }
}
