@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/styles/scss/components/button';

.errorMessage {
  color: colors.$red-60;
  margin-top: layout.$spacing-03;
}

.valueEditorButtons {
  margin-top: layout.$spacing-03;

  :global(.cds--btn--primary) {
    background-color: button.$button-primary;
    &:hover {
      background-color: button.$button-primary-hover;
    }
  }
}
