@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.overviewCard {
  border: 1px solid $ui-03;

  .heading {
    @extend .productiveHeading01;
    color: $text-02;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contentContainer {
    display: flex;
    justify-content: space-between;
    margin-top: layout.$spacing-06;
  }

  .viewButton {
    margin-top: -(layout.$spacing-02);
    margin-right: -(layout.$spacing-05);
  }
}
