@use "@carbon/styles/scss/spacing";
@import "~@openmrs/esm-styleguide/src/vars";
@import "../root.scss";

.overviewCard {
  border: 1px solid $ui-03;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contentContainer {
    display: flex;
    justify-content: space-between;
    margin-top: spacing.$spacing-06;
  }

  .viewButton {
    margin-right: -(spacing.$spacing-05);
  }
}
