@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading03 {
  @include type.type-style('heading-03');
}

.pageHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05;
  background-color: #ededed;

  .pageHeader {
    @extend .productiveHeading03;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
