.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 100000;
  background-color: #d0d0d0;
  border-top: 2px solid #404050;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-y: auto;
}

.content {
  margin-top: 40px;
  width: 100%;
}

.tabs {
  width: 30em;
}

.topBar {
  position: fixed;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a0a0a0;
  z-index: 2;
}

.closeButton {
  min-height: 3em;
  padding: 0 1em;
}

.topBar :global(.bx--content-switcher-btn:first-child),
.topBar :global(.bx--content-switcher-btn:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
