@import "../implementer-tools.styles.scss";

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  background-color: $ui-03;
  border-top: 2px solid $ui-05;
  color: $color-gray-100;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 50vh;
}

.tabs {
  width: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: #e0e0e0;
  padding: 0.25rem;
}
