.toolbar {
  display: flex;

  button {
    background-color: #706d6d;
    &:hover {
      background-color: #8d8a8a;
    }
  }
}

.alert {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 2em;
}
