@use '@carbon/colors';
@use '@carbon/react/scss/theme';
@use '@carbon/styles/scss/components/button';

.toolbar {
  display: flex;
  button {
    background-color: button.$button-primary;
    &:hover {
      background-color: button.$button-primary-hover;
    }
  }
  background-color: theme.$layer-accent;
}

.alert {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 2em;
}

.errorBackground {
  background-color: colors.$red-60;
}
