@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "../root.scss";

.emptyStateContainer {
  padding: spacing.$spacing-07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .emptyStateDescription {
    @include type.type-style("body-01");
    white-space: pre-line;
    text-align: center;
  }
}
