@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.panelItemContainer a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.cds--toggle-input__label .cds--toggle__switch) {
    margin-top: 0 !important;
  }

  :global(.cds--toggle) {
    /* setting the width prevents the toggle from changing size when the text changes */
    width: 76px;
    margin: 0 1rem;
  }

  :global(.cds--toggle__text) {
    color: $ui-02;
  }
}

.panelItemContainer div {
  display: flex;
  align-items: center;
}
