@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.buttonInlineIcon {
  margin-right: layout.$spacing-05;
}

:global(.omrs-breakpoint-lt-small-desktop) .primaryActionButton {
  position: fixed;
  bottom: layout.$spacing-05;
  right: layout.$spacing-05;
  border-radius: 100vh;
  padding-right: layout.$spacing-05;
}
