@use '@carbon/styles/scss/spacing';
@import '../root.scss';

.tableContainer {
  background-color: transparent;
}

.tableHeaderContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr auto;
  padding-top: spacing.$spacing-05;

  .tableSearch {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
  }

  .tablePrimaryAction {
    grid-row: 2;
    grid-column: 3;
    align-self: end;
  }
}

:global(.omrs-breakpoint-gt-tablet) .tableHeaderContainer {
  grid-template-columns: 1fr 20% 250px auto;

  .tableSearch {
    grid-row: 1;
    grid-column: 3;
  }

  .tablePrimaryAction {
    grid-row: 1;
    grid-column: 4;
  }
}
