@import "../root.scss";

.contentContainer {
  padding: 0 $spacing-05;
}

.buttonInlineIcon {
  margin-right: $spacing-05;
}

:global(.omrs-breakpoint-lt-small-desktop) .primaryActionButton {
  position: fixed;
  bottom: $spacing-05;
  right: $spacing-05;
  border-radius: 100vh;
  padding-right: $spacing-05;
}
