@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.widgetCard {
  background-color: $ui-background;
  border: 1px solid $ui-03;
  position: relative;
}

.desktopHeader,
.tabletHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
  background-color: $ui-background;

  h4 {
    color: $text-02;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 0.188rem;
      border-bottom: 0.375rem solid var(--brand-03);
    }
  }
}

.desktopHeader {
  height: 3rem;

  h4 {
    @include type.type-style('heading-compact-02');
  }
}

.tabletHeader {
  height: 4.5rem;

  h4 {
    @include type.type-style('heading-03');
  }
}
