@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.notificationLoadingContainer {
  display: flex;
  gap: layout.$spacing-03;
  justify-content: space-between;
  align-items: center;
}
