@import "./vars";
@import "~carbon-components/scss/globals/scss/styles";

@import "./components/general";
@import "./components/canvas";
@import "./components/colors";
@import "./components/typography";
@import "./components/spacing";
@import "./components/cards";
@import "./components/buttons-and-links";
@import "./components/input";
@import "./components/main-content";
@import "./components/button-icons";
@import "./icons/icons";
@import "./logo/logo";
@import "./spinner/spinner";
@import "./toasts/toasts";
@import "./components/forms";

@import "./overrides";
