.stories-example {
  margin: 1rem 0;
}

pre code {
  padding: 0 !important;
}

pre {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.examples {
  font-family: arial, sans-serif;
  margin-top: 1rem;
}
.examples .tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  line-height: 2.25rem;
}
.examples .tabs .tab {
  float: left;
  background: white;
  color: #777777;
  height: 2rem;
  margin: 0.125rem 0 0;
  padding: 0 0.5rem;
  cursor: pointer;
}
.examples .tabs .tab.active {
  color: #1ea7fd;
  border-bottom: 2px solid #1ea7fd;
}
.examples .panels .panel {
  padding: 0.5rem 0.5rem;
  display: none;
  background-color: whitesmoke;
}

.examples .panels .panel.active {
  display: block;
}
