@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.helpButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: layout.$spacing-03;
  color: black !important;
  &:focus {
    outline: none;
  }
}

.helpButton:hover {
  background: colors.$gray-10-hover;
}
