@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.helpButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black !important;
  padding: layout.$spacing-03;

  &:hover {
    background-color: $ui-03;
  }
}
