@use "@carbon/styles/scss/type";

.container {
  height: 50vh;
  overflow-y: auto;

  :global(.cds--data-table-container) {
    padding-top: 0;
  }
}

.moduleHeader {
  @include type.type-style("heading-compact-02");
}
