@use '@carbon/layout';
@use '@carbon/type';
@use '../vars' as *;

.errorMessage {
  @include type.type-style('heading-compact-02');

  margin-top: 2.25rem;
  margin-bottom: layout.$spacing-03;
}

.errorCopy {
  margin-bottom: layout.$spacing-03;
  @include type.type-style('body-01');
  color: $text-02;
}

.tile {
  text-align: center;
  border: 1px solid $ui-03;
}
