@use '@carbon/layout';
@use '@carbon/type';
@use '../vars' as *;

.pageHeader {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: layout.$spacing-12;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pageHeaderContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageName {
  @include type.type-style('heading-04');
}

.pageLabels {
  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}
