@use "@carbon/styles/scss/type";
@import "../vars";

.link > div a:nth-child(1) {
  height: 3rem;
  padding: 1.5rem 0 1.5rem 1.2rem;
  color: $ui-04;
  border-left: 0.25rem solid transparent;
  @include type.type-style("heading-compact-01");
}

:global(.omrs-breakpoint-gt-tablet) .link > div {
  padding-top: 1rem;
}

:global(.omrs-breakpoint-gt-tablet) .link > div a:nth-child(1) {
  height: 2rem;
  color: $ui-04;
  padding: 0 0 0 1rem;
}

.link > div a:nth-child(1):hover {
  background-color: $ui-03;
  color: $ui-05;
  border-left: var(--brand-01);
}

.link > div a:nth-child(1):focus {
  background-color: $ui-03;
  outline: none;
  color: $ui-05;
  border-left: var(--brand-01);
}
