@use '@carbon/colors';
@use '@carbon/layout';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  gap: layout.$spacing-05;
  width: 100%;
}
.logosContainer {
  display: flex;
  max-height: 2rem;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.5rem;
  filter: grayscale(100%);
  opacity: 80%;
}

@media only screen and (max-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }

  .poweredByTile {
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .logosContainer {
    justify-content: center;
    gap: 0.75rem;
  }

}

@media only screen and (max-width: 480px) {
  .login-card {
    margin-top: 2.5%;
    border: none;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }

  .poweredByTile {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
    font-size: 0.7rem;
    height: auto;
    max-width: 100%;
    border-radius: 0.75rem;
  }
}

.footer {
  margin-top: 6.75rem;
}

.poweredByTile {
  display: flex;
  text-align: left;
  max-width: fit-content;
  min-height: fit-content;
  font-size: smaller;
  background-color: colors.$white;
  padding: layout.$spacing-03 layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  border-radius: layout.$spacing-04;
  flex-wrap: wrap;
}

.poweredByContainer {
  display: flex;
  height: layout.$spacing-06;
  align-items: center;
  gap: layout.$spacing-03;
}

.poweredByLogo {
  height: layout.$spacing-07;
  width: auto;
  max-width: layout.$spacing-12;
  border-collapse: collapse;
  padding: 0;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.poweredByLogo + .poweredByText {
  margin-left: layout.$spacing-02;
}

.learnMoreButton {
  display: flex;
  align-items: center;

  svg {
    fill: colors.$blue-60;
  }
}
