@import "./root.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.logo {
  margin-bottom: 2.5rem;
  height: 5rem;
  width: 13rem;
}

.logo-img {
  margin-bottom: 3rem;
  max-width: 100%;
}

.icon-btn {
  cursor: pointer;
}

.error-msg {
  margin-top: 1rem;
  color: $danger;
}

.powered-by-txt {
  @extend .caption01;
  text-align: center;
  color: $color-gray-70;
  color: $text-02;
}

.need-help {
  display: flex;
  width: 23rem;
}

.need-help-txt {
  @extend .bodyShort01;
  text-align: left;
  color: $text-02;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-administrator-need-help {
  @extend .bodyShort01;
  padding-left: 0.5rem;
}

.powered-by-logo {
  height: 2.5rem;
  width: 6.5rem;
}

.login-card {
  border-radius: 0;
  border: 1px solid $color-gray-30;
  background-color: $ui-02;
  width: 23rem;
  padding: 2.5rem;
}

@media only screen and (min-width: 481px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  .login-card {
    margin-top: 2.5%;
    border: none;
  }

  .container {
    height: 100vh;
  }
}

.card-content {
  border: none;
  padding: 0.625rem 0.25rem 0.625rem 1rem;
  border-radius: 0;
}

.card {
  width: 21.75rem;
  margin: 0.5rem 1rem;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.continueButton {
  margin-top: 1.5rem;
  width: 18rem;
}

.inputStyle {
  @extend .label01;
  width: 18rem;
  height: 3rem;
}

.footer {
  margin-top: 6.75rem;
}
