@import "./root.scss";

.right {
  text-align: right;
}

.icon-btn {
  cursor: pointer;
}

.error-msg {
  margin-top: 1rem;
  color: $danger;
}

.contact-administrator-need-help {
  @extend .bodyShort01;
  padding-left: 0.5rem;
}

@media only screen and (min-width: 481px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  .login-card {
    margin-top: 2.5%;
    border: none;
  }

  .container {
    height: 100vh;
  }
}

.card-content {
  border: none;
  padding: 0.625rem 0.25rem 0.625rem 1rem;
  border-radius: 0;
}

.card {
  width: 21.75rem;
  margin: 0.5rem 1rem;
}
