@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.container {
  margin-top: spacing.$spacing-02;
  margin-bottom: spacing.$spacing-02;
  border-radius: 50%;
  color: $ui-05;
  max-width: none;

  &:hover {
    background-color: $color-gray-30;
    color: $text-02;
  }

  &:focus {
    border-color: $interactive-01;
  }

  & > span {
    margin-top: spacing.$spacing-02;
    @include type.type-style("body-compact-01");
    color: $text-02;
  }

  & svg {
    transform: scale(1.25);
  }
}

.elementContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  .countTag {
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: $ui-01;
    background-color: $danger;
    padding: 0 4px;
    border-radius: 50%;
    top: -14px;
    right: -12px;
  }

  .interruptedTag {
    @extend .countTag;
    font-size: 10px;
    padding: 0 5px;
    width: 14px;
    height: 14px;
  }
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .active {
    border: spacing.$spacing-01 solid;
    @include brand-03(border-color);
    border-radius: 50%;
    background-color: $ui-02;

    &:focus {
      border-color: var(--brand-03) !important;
    }
  }

  .container {
    & svg {
      transform: scale(1.25);
    }
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {

  .container {
    margin-bottom: 0;
    margin-top: 0;
    border-radius: unset;
    color: $ui-05;
    max-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .active {
    background-color: $color-blue-10;
    color: $interactive-01;

    &:hover {
      color: $interactive-01;
    }

    & > span {
      color: $interactive-01;
      @include type.type-style("heading-compact-01");
    }

    svg {
      fill: $interactive-01;
    }
  }
}
