.arrayEditor :global(.cds--structured-list-td) {
  padding: 0.25rem 3rem 0.25rem 1rem;
}

.arrayEditor :global(.cds--structured-list) {
  margin-bottom: 0.25rem;
}

.buttonCell {
  text-align: right;
}

/* .valueCell {
  display: inline-flex;
} */
