@use '@carbon/layout';
@use '@carbon/type';

.activeConceptUuid {
  @include type.type-style('body-compact-01');
  color: $ui-05;
  margin-bottom: layout.$spacing-03;
  padding-bottom: layout.$spacing-03;
  border-bottom: 1px solid $ui-03;
}

.autocomplete,
.autocomplete > [role='combobox'] {
  display: flex;
  position: relative;
  width: 20rem;
}

.autocomplete [role='listbox'] {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  background-color: whitesmoke;
  color: #fff;
}

.autocomplete li {
  line-height: layout.$spacing-04;
  padding: layout.$spacing-03;
  display: block;
  border-bottom: layout.$spacing-01 solid #718096;
  outline: 0;
  margin: 0;
  color: #000;
}

.autocomplete [role='option']:hover {
  background-color: #38a169;
  border-color: #38a169;
  color: #f7fafc;
}
