@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.activeUuid {
  @include type.type-style('body-compact-01');
  color: $ui-05;
  margin-bottom: layout.$spacing-03;
  padding-bottom: layout.$spacing-03;
  border-bottom: 1px solid $ui-03;
}

.autocomplete,
.autocomplete > [role='combobox'] {
  position: relative;
  width: 20rem;
}

.listbox {
  box-shadow: 0 0 layout.$spacing-03;
}

.smallListCell {
  padding: layout.$spacing-03;
}

.loader {
  margin: layout.$spacing-05;
}

.emptyResults {
  @include type.type-style('body-compact-01');
  background-color: $ui-02;
  color: $text-02;
  min-height: layout.$spacing-05;
}
