@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '../vars' as *;

$actionPanelOffset: layout.$spacing-09;
$narrowWorkspaceWidth: 26.25rem;
$widerWorkspaceWidth: 32.25rem;
$extraWideWorkspaceWidth: 48.25rem;

// This container has no layout purpose.
// It is used to set the --workspaceWidth variable.
.workspaceOuterContainer {
  &.narrowWorkspace {
    --workspaceWidth: #{$narrowWorkspaceWidth};
  }
  &.widerWorkspace {
    --workspaceWidth: #{$widerWorkspaceWidth};
  }
  &.extraWideWorkspace {
    --workspaceWidth: #{$extraWideWorkspaceWidth};
  }

  width: var(--workspaceWidth);
  display: contents;

  // This container clips the workspace when it slides out of screen
  // (via overflow: hidden)
  .workspaceMiddleContainer {
    width: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-end: $actionPanelOffset;
    z-index: 100;

    transition: width 0.5s ease-in-out;

    &.maximized {
      width: calc(100vw - $actionPanelOffset);
    }
    &.hidden {
      width: 0;
    }
  }

  // This container contains the actual workspace content
  // it has sliding transitions when hidden / restored, and
  // changes size (width) when maximized
  .workspaceInnerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--workspaceWidth);
    border-inline-start: 1px solid $text-03;

    // only root workspace should have sliding animations. Child workspaces should not.
    &.isRootWorkspace {
      animation: slideFromRight 0.5s ease-in-out;
    }

    transition:
      width 0.5s ease-in-out,
      transform 0.5s ease-in-out;

    &.maximized {
      width: calc(100vw - $actionPanelOffset);
    }
    &.hidden {
      transform: translateX(100%);
    }

    @keyframes slideFromRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0px);
      }
    }
  }

  // The spacer is responsible for taking up space and shrinking the width of the "main" content
  // in omrs-apps-container when in non-overlay mode.
  // Note that the spacer takes up --workspaceWidth amount of space, but does
  // not grow when the workspace is maximized. In other words, it does not shrink the
  // "main" content further when workspace is maximized.
  .workspaceSpacer {
    width: inherit;
    height: 100%;
    animation: growToWidth 0.5s ease-in-out;

    &.hidden {
      animation: shrinkWidth 0.5s ease-in-out forwards;
    }

    @keyframes growToWidth {
      from {
        width: 0;
      }
      to {
        width: inherit;
      }
    }

    @keyframes shrinkWidth {
      from {
        width: inherit;
      }
      to {
        width: 0;
      }
    }
  }
}

.loader {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: layout.$spacing-09;
}

.hiddenExtraWorkspace {
  display: none;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .header {
    position: relative;
    box-sizing: content-box;
    border-bottom: 1px solid $text-03;
    background-color: $ui-03;
    height: var(--workspace-header-height);

    a {
      @include type.type-style('heading-compact-02');

      &:hover {
        color: inherit;
      }
    }

    &:not(.maximizedWindow) {
      right: auto;
      left: auto;
    }
  }

  .headerButtons {
    button {
      background-color: $ui-02;
      border-right: 1px solid colors.$gray-20;

      > svg {
        fill: colors.$cool-gray-100 !important;
      }

      &:hover {
        background-color: $ui-01;
      }
    }
  }

  .maximizedWindow {
    width: calc(100% - $actionPanelOffset) !important;
  }

  .workspaceFixedContainer {
    height: 100%;
    border-left: 1px solid $text-03;
    z-index: 50;
    background-color: white;
    animation: slideInFromRight 0.5s ease-in-out;

    &.hidden {
      animation: slideOutToRight 0.5s ease-in-out forwards;
    }

    &.overlay {
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  .extraWideWorkspace {
    width: $extraWideWorkspaceWidth;

    .workspaceFixedContainer {
      width: $extraWideWorkspaceWidth;
    }

    &.hiddenRelative {
      margin-right: -$extraWideWorkspaceWidth !important;
    }

    .hiddenFixed {
      right: -$extraWideWorkspaceWidth !important;
    }
  }

  .widerWorkspace {
    width: $widerWorkspaceWidth;

    .workspaceFixedContainer {
      width: $widerWorkspaceWidth;
    }

    &.hiddenRelative {
      margin-right: -$widerWorkspaceWidth !important;
    }

    .hiddenFixed {
      right: -$widerWorkspaceWidth !important;
    }
  }

  .narrowWorkspace {
    width: $narrowWorkspaceWidth;

    .workspaceFixedContainer {
      width: $narrowWorkspaceWidth;
    }

    &.hiddenRelative {
      margin-right: -$narrowWorkspaceWidth !important;
    }

    .hiddenFixed {
      right: -$narrowWorkspaceWidth !important;
    }
  }

  .workspaceContent {
    background-color: $ui-02;
    overflow-y: auto;
    flex-grow: 1;
  }

  .overlay {
    background-color: $ui-02;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .overlayHeaderSpacer {
    flex-grow: 1;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .header {
    position: relative;
    background-color: var(--brand-02);

    a {
      color: $ui-02;
    }

    button {
      color: $ui-02;
      background-color: var(--brand-02);

      &:hover {
        background-color: var(--brand-03);
      }
    }
  }

  .hiddenFixed {
    top: 100% !important;
  }

  .workspaceFixedContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8002;
    transition: top 0.5s ease-in-out;
  }

  .workspaceContainerWithActionMenu {
    &.workspaceFixedContainer {
      bottom: var(--bottom-nav-height);
    }
  }

  .overlay {
    background-color: $ui-02;
    display: flex;
    flex-direction: column;
  }

  .overlayCloseButton {
    order: 1;
  }

  .overlayTitle {
    order: 2;
  }

  .workspaceContent {
    background-color: $ui-01;
    overflow-y: auto;
    height: 100%;
  }

  // The parcel makes a div, between the workspace container and the workspace itself
  .workspaceContent > div {
    height: 100%;
  }

  .dynamicWidth {
    width: 100%;
  }

  .marginWorkspaceContent {
    margin-bottom: var(--bottom-nav-height);
  }

  @keyframes slideInFromBottom {
    from {
      transform: translateX($narrowWorkspaceWidth);
      width: 0;
    }
    to {
      transform: translateX(0%);
      width: $narrowWorkspaceWidth;
    }
  }

  @keyframes slideOutToBottom {
    from {
      transform: translateX(0%);
      width: $narrowWorkspaceWidth;
    }
    to {
      transform: translateX($narrowWorkspaceWidth);
      width: 0;
    }
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  :global(.omrs-breakpoint-gt-tablet) {
    .workspaceContainerWithActionMenu {
      &.workspaceFixedContainer {
        right: unset;
        left: $actionPanelOffset;
      }
    }

    .workspaceContainerWithoutActionMenu {
      height: 100%;

      &.workspaceFixedContainer {
        right: unset;
        left: 0;
      }
    }
  }
}
