@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

button.logout {
  color: $field-01 !important;
  font-size: layout.$spacing-05;
  width: 16rem;

  &:hover {
    background-color: inherit;
  }
}
