/* https://docs.google.com/presentation/d/1ORi0ZjFeOoNyK7l3R8ms9v0uSmLerUIUfG1fXh_XcTk/edit#slide=id.g5b283a7c15_0_86 */

.omrs-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dadce0;
}
