@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.headerPanel {
  height: max-content;
}

.primaryNavContainer {
  height: var(--omrs-topnav-height);
}

.languageOptionsContainer {
  display: flex;
  flex-direction: column;
  max-height: 28rem;
}

.languageRadioButton {
  display: flex;
  height: layout.$spacing-09;
  align-items: center;
  @extend .bodyShort01;
}

.submitButton {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset !important;
  }
}
