@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.link > div a:nth-child(1) {
  height: layout.$spacing-09;
  padding: layout.$spacing-06 0 layout.$spacing-06 1.2rem;
  color: $ui-04;
  @extend .productiveHeading01;
  border-left: layout.$spacing-02 solid transparent;

  &:hover {
    background-color: $ui-03;
    color: $ui-05;
    @include brand-01(border-left-color);
  }

  &:focus {
    background-color: $ui-03;
    outline: none;
    color: $ui-05;
    @include brand-01(border-left-color);
  }
}

:global(.omrs-breakpoint-gt-tablet) .link > div {
  padding-top: layout.$spacing-05;
}

:global(.omrs-breakpoint-gt-tablet) .link > div a:nth-child(1) {
  height: layout.$spacing-07;
  color: $ui-04;
  padding: 0 0 0 layout.$spacing-05;
}
