@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.topNavActionsSlot {
  display: flex;
  align-items: center;

  > a {
    color: white;
    text-decoration: none;
    margin: 0 layout.$spacing-04;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
  padding: layout.$spacing-04;
  margin-inline-end: layout.$spacing-02;
}

.spacedLogo {
  margin-inline-start: layout.$spacing-05;
}

.divider {
  width: 1px;
  height: layout.$spacing-06;
  background-color: rgba(244, 244, 244, 0.4);
  margin-inline-start: layout.$spacing-04;
}

.topNavInfoSlot {
  gap: layout.$spacing-03;
}

.panelWrapper {
  display: contents;
}
