@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
.topNavActionsSlot {
  display: flex;
  align-items: center;
}

.topNavActionsSlot a {
  color: white;
  text-decoration: none;
  margin: 0 0.75rem;
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: $spacing-09;
  width: $spacing-09;
  padding: $spacing-04;
  margin-right: $spacing-02;
}

.spacedLogo {
  margin-left: 1rem;
}
