@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
.topNavActionsSlot {
  display: flex;
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: $spacing-09;
  width: $spacing-09;
  padding: $spacing-04;
  margin-right: $spacing-02;
}
