@import "~@openmrs/esm-styleguide/src/vars";
.topNavActionsSlot {
  display: flex;
}

.headerGlobalBarButton {
  background-color: $brand-02;
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  background-color: $brand-01;
}
