@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
.topNavActionsSlot {
  display: flex;
}

.headerGlobalBarButton {
  background-color: $brand-02;
  background-color: var(--brand-02);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  background-color: $brand-01;
  background-color: var(--brand-01);
}

.headerMenuButton {
  height: $spacing-09;
  width: $spacing-09;
  padding: $spacing-04;
  margin-right: $spacing-02;
}
