@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.topNavActionsSlot {
  display: flex;
  align-items: center;

  > a {
    color: white;
    text-decoration: none;
    margin: 0 layout.$spacing-04;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
  padding: layout.$spacing-04;
  margin-right: layout.$spacing-02;
}

.spacedLogo {
  margin-left: layout.$spacing-05;
}
