@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  border-top: 0.063rem solid $ui-03;
  border-bottom: 0.063rem solid $ui-03;
  background-color: $ui-01;
}

.activePatientContainer {
  background-color: $ui-01;
}

.patientBanner {
  display: flex;
}

.patientName {
  @include type.type-style('heading-03');
  margin-right: 0.25rem;
}

.patientAvatar {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 1px;
}

.patientAvatarButton {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
}

.patientInfo {
  width: 100%;
}

.demographics {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin-top: 0.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.25rem;
}

.patientNameRow {
  margin-top: 0.875rem;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.identifiers {
  @include type.type-style('body-compact-02');
  color: colors.$gray-70;
  display: flex;
  flex-wrap: wrap;
}

.identifierTag {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 0.5rem;
}

.primaryIdentifier {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.secondaryIdentifier {
  display: flex;

  .label {
    @include type.type-style('label-01');
    margin: 0.25rem 0.25rem 0.25rem 0rem;
    align-self: auto;
  }

  .identifier {
    @include type.type-style('body-compact-02');
    align-self: baseline;
  }
}

.tooltipPadding {
  padding: 0.25rem;
}

.tooltipSmallText {
  font-size: 80%;
}

.actionsButtonText {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .demographics {
    display: flex;
    gap: 0.25rem;
  }

  .tag {
    margin: 0.25rem 0rem 0.25rem 0.25rem;
  }

  .patientName {
    margin-right: unset;
    margin-left: 0.25rem;
  }
}
