@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.user-activity-icon-container {
  display: flex;
  align-items: center;
  margin-right: $spacing-03;
  cursor: pointer;

  &:hover {
    .user-activity-icon {
      color: $interactive-01;
    }
  }
}

.user-activity-icon {
  color: $text-01;
  transition: color 0.2s ease;

  &:hover {
    color: $interactive-01;
  }
}
