.omrs-modals-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  visibility: hidden;

  div {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;
  }
}
