.extension:hover:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
}

.slot {
  background-color: rgba(43, 43, 185, 0.1);
  position: relative;
}

.slotName {
  background-color: rgba(43, 43, 185, 0.1);
  color: #393939;
  padding: 0 0.5em 0.5em 0.5em;
  position: absolute;
  bottom: -1.5em;
  right: 0;
}
