@use '@carbon/layout';

.overviewCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: layout.$spacing-05;
  padding: layout.$spacing-05;
  padding-top: 0;
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .overviewCardContainer {
  grid-template-columns: repeat(3, 1fr);
}
