@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.panelItemContainer a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelItemContainer div {
  display: flex;
  align-items: center;
}
