@use '@carbon/layout';

.changeLocationButton {
  width: fit-content;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: layout.$spacing-04 !important; // this gets unset in rtl language without !important
}

.currentLocationText {
  padding-inline-start: layout.$spacing-03;
}
