@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.panelItemContainer a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelItemContainer div {
  display: flex;
  align-items: center;
}

.changeLocationButton {
  width: fit-content;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: layout.$spacing-04 !important; // this gets unset in rtl language without !important
}

.currentLocationText {
  padding-inline-start: layout.$spacing-03;
}
