@use '@carbon/layout';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@openmrs/esm-styleguide/src/vars' as *;

:root[data-carbon-theme='g90'] {
  @include theme.theme(themes.$g90);
}

:root[data-carbon-theme='g100'] {
  @include theme.theme(themes.$g100);
}

.toolStyles {
  background-color: transparent;
}

.chevronImplementerToolsButton {
  position: fixed;
  bottom: 0;
  left: calc(50vw - layout.$spacing-07 / 2);

  .implementerToolsButton {
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;

    background-color: $ui-02;
    width: layout.$spacing-07;
    height: layout.$spacing-06;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: layout.$spacing-01;
    transition: all 0.3s ease-in-out;
  }

  .implementerToolsButton:hover {
    transform: translateY(-3px);
  }
}

.darkTheme {
  @include theme.theme(themes.$g90);

  :global(.cds--content-switcher-btn.cds--content-switcher--selected) {
    background-color: $ui-01;
  }
}
