.popupTriggerButton {
  height: 25px !important;
  width: 25px !important;
  position: relative;
  border-radius: 2px;
}

.triggerButtonAlert {
  color: var(--omrs-color-danger);
}

.toolStyles {
  background-color: transparent;
}
