@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  height: 50vh;
  overflow-y: auto;
  background-color: $ui-06;
  :global(.cds--data-table-container) {
    padding-top: 0;
  }

  tr {
    td {
      background-color: $ui-07;
      color: $text-04;
      border-bottom: 1px solid $ui-05;
      border-top: 1px solid $ui-05;
    }
    &:hover {
      td {
        background-color: $color-gray-70 !important;
        color: $text-05 !important;
        border-bottom: none !important;
        border-top: none !important;
      }
    }

    :global(.cds--toggle__switch--checked) {
      background-color: #e8e8e8;
    }
  }

  .tableHeader {
    background-color: $ui-06 !important;
    color: $text-04 !important;
  }
}

.header {
  @include type.type-style('heading-compact-02');
}

.helper {
  @include type.type-style('helper-text-01');
}
