@use '@carbon/type';

.container {
  height: 100%;
  overflow-y: auto;

  :global(.cds--data-table-container) {
    padding-top: 0;
  }
}

.header {
  @include type.type-style('heading-compact-02');
}

.helper {
  @include type.type-style('helper-text-01');
}
