@use '@carbon/layout';
@use '@carbon/type';
@use '../vars' as *;

.action {
  margin-bottom: layout.$spacing-03;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.heading:after {
  content: '';
  display: block;
  width: layout.$spacing-07;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.tile {
  text-align: center;
  border: 1px solid $ui-03;
}
