@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.productiveHeading03 {
  @include type.type-style('heading-03');
}

.productiveHeading04 {
  @include type.type-style('heading-04');
}

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.bodyLong01 {
  @include type.type-style('body-compact-01');
}

.label01 {
  @include type.type-style('label-01');
  color: $text-02;
}

.action {
  margin-bottom: layout.$spacing-03;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: layout.$spacing-05;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.heading:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.tile {
  text-align: center;
  border: 1px solid $ui-03;
}
