@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.contentContainer {
  padding: 0 spacing.$spacing-05;
  max-width: 800px;
}

.headeredTileSection {
  margin-bottom: spacing.$spacing-09;

  .productiveHeading02 {
    margin-bottom: spacing.$spacing-03;
  }
}

.syncedTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}

.failedTile {
  margin-bottom: spacing.$spacing-03;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: spacing.$spacing-05;
}

.failedTileErrorMessage {
  // color: $support-01;
}

.syncedTileIcon {
  color: $support-02;
}

.failedTileIcon {
  // color: $support-01;
}
