@import '../root.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.change-password-card {
  border-radius: 0;
  border: 1px solid $ui-03;
  background-color: $ui-02;
  width: 80%;
  padding: 2.5rem;
  position: absolute;
  min-height: 21.5rem;
  top: 5rem
}

@media only screen and (min-width: 481px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  .change-password-card {
    margin-top: 2.5%;
    border: none;
  }

  .container {
    height: 100vh;
  }
}

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  :global(.cds--text-input) {
    height: 3rem;
    @extend .label01;
  }

  :global(.cds--text-input__field-outer-wrapper) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  :global(.cds--form-item), .buttonSet {
    width: 100%;
  }
}

.buttonSet {
  margin-top: 1.5rem;
  width: 18rem;

  :global(.cds--btn) {
    max-width: 50%;
  }
}

.back-button-div {
  width: 23rem;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.back-button {
  height: 3rem;
  padding-left: 0rem;

  svg {
    margin-right: 0.5rem;
    order: 1;
  }

  span {
    order: 2;
  }
}

.errorMessage {
  position: absolute;
  top: 0;
  margin-top: 0.25rem;
  margin-bottom: 3rem;
  z-index: 1;
}
