@use '@openmrs/esm-styleguide/src/vars' as *;

.submitButton {
  margin-top: 1.5rem;
  width: 18rem;

  :global(.cds--inline-loading) {
    min-height: 1rem;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}

.alignCenter {
  display: flex;
  text-align: center;
}

.panelItemContainer {
  a {
    @extend .alignCenter;
    justify-content: space-between;
  }

  div {
    @extend .alignCenter;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2.5rem;
}

.changePasswordCard {
  border-radius: 0;
  border: 1px solid $ui-03;
  background-color: $ui-02;
  width: 23rem;
  padding: 2.5rem;
  position: relative;
  min-height: fit-content;
}
