@use '@carbon/layout';
@use '@carbon/type';
@use '../vars' as *;

.bodyCompact01 {
  @include type.type-style('body-compact-01');
}

.searchResults {
  @include type.type-style('body-compact-02');
  max-height: 100%;
  overflow-y: auto;
  padding: 0 layout.$spacing-06;
  background-color: $ui-01;
  height: 25.5rem;
}

.locationResultsContainer {
  display: flex;
  overflow-y: auto;
  padding: layout.$spacing-03 layout.$spacing-01 0;
}

.locationRadioButton {
  display: flex;
  height: layout.$spacing-09;
  align-items: center;
  @extend .bodyCompact01;
}

.locationNotFound {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-bottom: layout.$spacing-05;
}

.radioButtonSkeleton {
  margin-right: 0 !important;
  margin-bottom: layout.$spacing-07;
}

.radioButtonSkeleton span {
  width: 100% !important;
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: layout.$spacing-05 auto;

  :global(.cds--loading__stroke) {
    @include brand-03(stroke);
  }
}

.loadingContainer {
  margin-top: layout.$spacing-06;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: layout.$spacing-06 auto 0;
}

.errorNotification {
  margin: layout.$spacing-03 0;
}
