@import "../../root.scss";

.menuLink a {
  display: flex;
  padding: 1rem;
  height: 3rem;
  width: 100%;
  text-decoration: none;
  color: $ui-02;
  background-color: transparent;
  @extend .productiveHeading01;
}

.menuLink a:hover {
  background-color: #005d5d;
}
