@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.headerPanel {
  height: max-content;
}

.primaryNavContainer {
  height: var(--omrs-topnav-height);
}

.menuLink a {
  display: flex;
  padding: layout.$spacing-05;
  height: layout.$spacing-09;
  width: 100%;
  text-decoration: none;
  color: $ui-02;
  background-color: transparent;
  @extend .productiveHeading01;
}

.menuLink a:hover {
  @include brand-01(background-color);
}

.externalLinks {
  border-top: 1px solid;
  @include brand-03(border-top-color);
}

.launchIcon {
  margin-left: layout.$spacing-03;
}

.headerPanel {
  width: fit-content;
}
