@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('heading-03');
  color: vars.$ui-background;
  margin: 1rem;
}

.emptyNotifications {
  margin: 4rem 1rem;
}
