@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.bodyLong01 {
  @include type.type-style('body-01');
}

.headerPanel {
  height: max-content;
}

.primaryNavContainer {
  height: var(--omrs-topnav-height);
}

.headerPanel {
  transition: none;
}

.fullWidth {
  width: 100%;
}

.userPanelSwitcher {
  padding-top: layout.$spacing-05;
  align-items: start;
}

.userPanelSwitcher :global(.cds--switcher__item) {
  height: layout.$spacing-09;
}

.userPanelSwitcher :global(.cds--switcher__item:first-child) {
  margin-top: 0;
}

.userPanelSwitcher :global(.cds--switcher__item-link) {
  display: flex;
  align-items: center;
  color: $field-01;
  padding: 0;
  height: layout.$spacing-09;
  @extend .bodyLong01;
}

.userPanelSwitcher :global(.cds--switcher__item-link):hover:not(.cds--switcher__item-link--selected) {
  color: $field-01;
  @include brand-02(background-color);
}

.userPanelSwitcher :global(.cds--switcher__item) svg {
  margin: 0 layout.$spacing-04;
  fill: $field-01;
  flex-shrink: 0;
}

.userPanelSwitcher :global(.cds--switcher__item) button {
  color: $inverse-link;
}

.userPanelSwitcher :global(.cds--switcher__item) button:hover {
  @include brand-03(background-color);
  color: $inverse-link;
}
