@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../implementer-tools.styles.scss';

.tools {
  width: 100%;
  background-color: $ui-03;
  border-bottom: 1px solid $ui-05;
  border-top: 1px solid $ui-05;
  z-index: 2;
  position: sticky;
  top: 0;
}

.toolbar {
  padding: spacing.$spacing-05 spacing.$spacing-05 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;

  :global(.cds--col) {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem;

    :global(.cds--label) {
      color: $text-04;
    }

    :global(.cds--toggle__text) {
      color: $text-04;
    }

    :global(.cds--toggle__label-text) {
      color: $text-04;
    }
  }
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.mainContent {
  max-height: 50vh;
  background-color: $ui-01;
  width: 100%;
  display: flex;
  overflow-y: auto;

  :global(.ace_scroller) {
    background-color: $ui-06;
    color: $text-05;
  }

  :global(.ace_gutter) {
    background-color: $ui-06;
    color: $text-04;
  }

  :global(.ace_active-line) {
    background-color: $color-gray-70 !important;
  }
  :global(.ace_cursor) {
    color: $text-05;
  }
}

.configTreePane {
  width: 65%;
  // overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
  background-color: $ui-06;
}

.descriptionPane {
  width: 35%;
  background-color: $ui-06;
  color: $text-04;
  padding: spacing.$spacing-05 2em;
  font-size: 12pt;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.configTreePane :global(.cds--text-input-wrapper) {
  min-width: 8em;
}

.toggleToolbarButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
  background-color: $ui-06;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  :global(.cds--toggle__switch--checked) {
    background-color: #e8e8e8;
  }
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    margin: 0 1rem;
  }

  :global(.cds--btn--secondary) {
    background-color: #706d6d;

    &:hover {
      background-color: #8d8a8a;
    }
  }
}

.container {
  background-color: $ui-06;
}

.openCloseBtn {
  > svg {
    fill: $text-04 !important;
  }
}
