@import "../implementer-tools.styles.scss";
@import "~@openmrs/esm-styleguide/src/vars";
.tools {
  width: 100%;
  background-color: $color-gray-100;
  border-bottom: 1px solid $color-gray-100;
  border-top: 1px solid $ui-background;
  z-index: 2;
  position: sticky;
  top: 0;
}

.toolbar {
  padding: $spacing-05 $spacing-05 0;
  background-color: $color-gray-100;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.mainContent {
  max-height: 50vh;
  background-color: $color-gray-100;
  color: $color-gray-100;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.configTreePane {
  width: 65%;
  // overflow-wrap: break-word;
  color: $color-gray-100;
  overflow-x: auto;
  overflow-y: auto;
}

.descriptionPane {
  width: 35%;
  background-color: $color-gray-100;
  color: $color-gray-100;
  padding: $spacing-05 2em;
  font-size: 12pt;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.configTreePane :global(.bx--text-input-wrapper) {
  min-width: 8em;
}

.toggleToolbarButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.labelText {
  color: $ui-background;
}

.configButtons {
  width: 11rem;
}
