@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/react/scss/theme';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../implementer-tools.styles.scss';

.tools {
  width: 100%;
  background-color: theme.$background;
  border-bottom: 1px solid theme.$border-subtle-00;
  border-top: 1px solid theme.$border-subtle-00;
  z-index: 2;
  position: sticky;
  top: 0;
}

.toolbar {
  padding: spacing.$spacing-05 spacing.$spacing-05 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;

  :global(.cds--col) {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem;
  }
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.mainContent {
  max-height: 50vh;
  background-color: $ui-01;
  width: 100%;
  display: flex;
  overflow-y: auto;

  :global(.ace_scroller) {
    background-color: theme.$background;
    color: theme.$text-secondary;
  }

  :global(.ace_gutter) {
    background-color: theme.$background;
    color: theme.$text-secondary;
  }

  :global(.ace_active-line) {
    background-color: theme.$layer-accent !important;
  }
  :global(.ace_cursor) {
    color: theme.$text-secondary;
  }
}

.configTreePane {
  width: 65%;
  // overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
  background: theme.$background;
}

.descriptionPane {
  width: 35%;
  background-color: theme.$background;
  color: theme.$text-secondary;
  padding: spacing.$spacing-05 2em;
  font-size: 12pt;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.configTreePane :global(.cds--text-input-wrapper) {
  min-width: 8em;
}

.toggleToolbarButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    margin: 0 1rem;
  }
}
