@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import "~@openmrs/esm-styleguide/src/vars";
@import "../implementer-tools.styles.scss";

.tools {
  width: 100%;
  background-color: $ui-03;
  border-bottom: 1px solid $ui-04;
  border-top: 1px solid $color-gray-30;
  z-index: 2;
  position: sticky;
  top: 0;
}

.toolbar {
  padding: spacing.$spacing-05 spacing.$spacing-05 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;

  :global(.cds--col) {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem;
  }
}

.downloadLink {
  text-decoration: none;
  color: inherit;
}

.mainContent {
  max-height: 50vh;
  background-color: $ui-01;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.configTreePane {
  width: 65%;
  // overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
}

.descriptionPane {
  width: 35%;
  background-color: $ui-03;
  color: #424242;
  padding: spacing.$spacing-05 2em;
  font-size: 12pt;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.configTreePane :global(.cds--text-input-wrapper) {
  min-width: 8em;
}

.toggleToolbarButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    margin: 0 1rem;
  }
}
