@import "../implementer-tools.styles.scss";

.secretButton {
  background: none;
  color: #474b6b;
  border: none;
  font: inherit;
  text-align: left;
}

.error {
  margin-left: 1em;
  color: orange;
  font-size: 11pt;
}

.overriddenValue {
  color: #2020a0;
}

.elementValue {
  display: flex;
  align-items: flex-start;
}

.editValueButton {
  margin-left: $spacing-05;
}
