@import "../root.scss";

.locationPickerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.location-card {
  display: flex;
  flex-direction: column;
  width: 23rem;
  background-color: $ui-background;
  margin: 0;
  padding: 1.5rem;
  border: 1px solid $ui-03;
}

.welcomeTitle {
  @extend .productiveHeading03;
  text-transform: capitalize;
}

.searchBox {
  margin-top: 1rem;
}

.welcomeMessage {
  @extend .bodyLong01;
  margin-top: 0.5rem;
  color: $color-gray-70;
}

.searchResults {
  @extend .bodyShort02;
  margin: 1rem 0rem;
}

.resultsCount {
  @extend .bodyShort01;
  color: $color-gray-70;
}

.locationResultsContainer {
  display: flex;
  overflow-y: auto;
}

.locationRadioButton {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @extend .bodyShort01;
  padding: 0.5rem 0rem;
  text-align: left;
  width: 18rem;
}

.locationNotFound {
  @extend .bodyShort01;
  padding: 1rem 0rem;
  color: $color-gray-70;
}

.confirmButton button {
  width: 20rem;
}
