@use '@carbon/layout';

.omrs-toasts-container {
  display: flex;
  flex-direction: column;
  z-index: 100000;
  position: fixed;
  width: 20rem;
  top: layout.$spacing-10;
  right: layout.$spacing-05;
  gap: layout.$spacing-03;
}

.omrs-toast-mounting,
.omrs-toast-mounting > * {
  padding: 0;
}

.omrs-toast-closing,
.omrs-toast-mounting {
  opacity: 0;
}
