.omrs-toasts-container {
  z-index: 100000;
  position: fixed;
  margin-top: 4rem;
  right: 1rem;
}

.omrs-toast-mounting,
.omrs-toast-mounting > * {
  padding: 0;
}

.omrs-toast-closing,
.omrs-toast-mounting {
  opacity: 0;
}
