.omrs-toasts-container {
  z-index: 100000;
  position: fixed;
  top: 3rem;
  left: calc(100% - 18rem);
  width: 100%;
}

.omrs-toast-mounting,
.omrs-toast-mounting > * {
  padding: 0;
}

.omrs-toast-closing,
.omrs-toast-mounting {
  opacity: 0;
}
