.bx--data-table,
.bx--data-table-header,
.bx--table-toolbar,
.bx--data-table tbody {
  background: transparent;
}

.bx--data-table-container {
  background: $ui-02;
  position: relative;
}

.bx--table-toolbar {
  position: absolute;
  top: 2px;
}

.bx--data-table-header {
  padding: $spacing-04;
  text-align: start;
}

.bx--data-table-header__title {
  font-size: $spacing-05;
  font-weight: 600;
  color: $text-02;
}

.bx--data-table thead,
.bx--data-table tr,
.bx--data-table td,
.bx--data-table--sort th,
.bx--data-table--sort th .bx--table-sort__flex {
  height: $spacing-07;
  min-height: unset;
  color: $text-02;
}

.bx--btn--primary,
.bx--btn--primary:active,
.bx--btn--tertiary:hover,
.bx--btn--tertiary:active,
.bx--btn--tertiary:focus {
  background-color: $brand-teal-01;
  background-color: var(--brand-teal-01);
}

.bx--btn--primary:hover {
  background-color: $brand-01;
  background-color: var(--brand-01);
}

.bx--btn--tertiary {
  color: $brand-teal-01;
  color: var(--brand-teal-01);
}

.bx--btn--tertiary,
.bx--btn--primary:focus,
.bx--btn--tertiary:focus {
  border-color: $brand-teal-01;
  border-color: var(--brand-teal-01);
}

.bx--btn--tertiary:hover,
.bx--btn--tertiary:active,
.bx--btn--tertiary:focus {
  color: $ui-02;
}

/* UI Shell header */

.bx--header {
  // background-color: $brand-01;
  background-color: var(--brand-01);
  // border-bottom: $brand-02;
  border-bottom: var(--brand-02);
}

.bx--header__action:hover {
  background-color: $brand-02;
  background-color: var(--brand-02);
}

.bx--header-panel {
  background-color: $brand-02;
  background-color: var(--$brand-02);
}

.bx--header__action--active {
  background-color: $brand-02;
  background-color: var(--brand-02);
  border-color: $brand-02;
  border-color: var(--brand-02);
}

.bx--overflow-menu--flip {
  &.bx--overflow-menu-options {
    background-color: $openmrs-background-grey;
    left: -6.025rem;
    min-width: 12.5rem;
    top: $spacing-09;
  }
}

.bx--overflow-menu--flip {
  &.bx--overflow-menu-options[data-floating-menu-direction="bottom"] {
    &::after {
      top: 0;
      height: 0;
      width: 0;
      left: 0;
    }
  }
}

.bx--pagination-nav__page:not(.bx--pagination-nav__page--direction) {
  &::after {
    background-color: $brand-teal-01;
  }
}

.bx--pagination-nav__page .bx--pagination-nav__page--active,
.bx--pagination-nav__page:focus {
  outline: 2px solid $brand-teal-01;
}

/* Content Switcher */

.bx--content-switcher-btn {
  background-color: $ui-02;
  border: 1px solid #a6c8ff;
  color: $text-02;

  &:first-of-type[aria-selected="false"] {
    border-right: 0;
  }

  &:last-of-type[aria-selected="false"] {
    border-left: 0;
  }

  &:focus,
  &:hover {
    background-color: $color-blue-10;
    color: $interactive-01;
  }

  &.bx--content-switcher--selected {
    background-color: $color-blue-10;
    border: 1px solid $interactive-01;
    color: $interactive-01;
  }
}

.bx--content-switcher-btn:before {
  display: none;
}

/* Tabs Overrides */

.bx--tabs--scrollable
  .bx--tabs--scrollable__nav-item--selected
  .bx--tabs--scrollable__nav-link,
.bx--tabs--scrollable
  .bx--tabs--scrollable__nav-item--selected
  .bx--tabs--scrollable__nav-link:active,
.bx--tabs--scrollable
  .bx--tabs--scrollable__nav-item--selected
  .bx--tabs--scrollable__nav-link:focus {
  border-bottom: 2px solid $brand-teal-01;
}

.bx--tabs--scrollable.bx--tabs--scrollable--container
  .bx--tabs--scrollable__nav-item--selected
  .bx--tabs--scrollable__nav-link {
  box-shadow: inset 0 2px 0 0 $brand-teal-01;
}

.bx--tabs--scrollable .bx--tabs--scrollable__nav-link:active,
.bx--tabs--scrollable .bx--tabs--scrollable__nav-link:focus {
  outline: 2px solid $brand-teal-01;
}
