$ui-01: #f4f4f4;
$ui-02: #ffffff;
$ui-03: #e0e0e0;
$ui-04: #8d8d8d;
$ui-05: #161616;
$text-02: #525252;
$text-03: #a8a8a8;
$ui-background: #ffffff;
$color-gray-10: #f4f4f4;
$color-gray-20: #e0e0e0;
$color-gray-30: #c6c6c6;
$color-gray-40: #a8a8a8;
$color-gray-50: #8d8d8d;
$color-gray-60: #6f6f6f;
$color-gray-80: #393939;
$color-gray-90: #262626;
$color-gray-100: #161616;
$color-teal-20: #9ef0f0;
$color-teal-50: #009d9a;
$color-teal-60: #007d79;
$color-teal-70: #005d5d;
$color-teal-80: #004144;
$color-teal-90: #022b30;
$color-blue-10: #edf5ff;
$color-blue-20: #d0e2ff;
$color-blue-30: #a6c8ff;
$color-blue-40: #78a9ff;
$color-blue-60: #0f62fe;
$color-blue-70: #0043ce;
$color-red-60: #da1e28;
$color-yellow-10: #fff8e1;
$color-yellow-50: #feecae;
$color-magenta-10: #f5f2f3;
$color-magenta-20: #e0dcde;
$color-magenta-30: #c7c1c4;
$color-green-10: #defbe6;
$color-green-40: #42be65;
$color-red-10: #fff1f1;
$color-red-20: #ffd7d9;
$color-purple-20: #e8daff;
$carbon--red-50: #fa4d56;
$inverse-link: #78a9ff;
$support-02: #24a148;
$inverse-support-03: #f1c21b;
$warning-background: #fff8e1;
$openmrs-background-grey: #f4f4f4;
$danger: #da1e28;
$interactive-01: #0f62fe;
$field-01: #f4f4f4;
$grey-2: #e0e0e0;
$labeldropdown: #c6c6c6;

@mixin brand-01($property) {
  #{$property}: #005d5d;
  #{$property}: var(--brand-01);
}

@mixin brand-02($property) {
  #{$property}: #004144;
  #{$property}: var(--brand-02);
}

@mixin brand-03($property) {
  #{$property}: #007d79;
  #{$property}: var(--brand-03);
}

:root {
  --brand-01: #005d5d;
  --brand-02: #004144;
  --brand-03: #007d79;
}

$breakpoint-phone-min: 0px;
$breakpoint-phone-max: 600px;
$breakpoint-tablet-min: 601px;
$breakpoint-tablet-max: 1200px;
$breakpoint-desktop-min: 1201px;
$breakpoint-desktop-max: 99999999px;

/* These color variables will be removed in a future release */
$brand-teal-01: #007d79;
$brand-01: #005d5d;
$brand-02: #004144;
