$ui-01: #f4f4f4;
$ui-02: #ffffff;
$ui-03: #e0e0e0;
$ui-04: #8d8d8d;
$ui-05: #161616;
$text-02: #525252;
$text-03:#a8a8a8;
$ui-background: #ffffff;
$color-gray-70: #525252;
$color-gray-100: #161616;
$color-blue-60-2: #0f62fe;
$color-yellow-50: #feecae;
$carbon--red-50: #fa4d56;
$inverse-link: #78a9ff;
$support-02: #24a148;
$inverse-support-03: #f1c21b;
$warning-background: #fff8e1;
$openmrs-background-grey: #f4f4f4;
$danger: #da1e28;
$interactive-01: #0f62fe;
$brand-teal-01: #007d79;
$brand-01: #005d5d;
$brand-02: #004144;
$field-01: #f4f4f4;
$grey-2: #e0e0e0;
$labeldropdown: #c6c6c6;

$breakpoint-phone-min: 0px;
$breakpoint-phone-max: 600px;
$breakpoint-tablet-min: 601px;
$breakpoint-tablet-max: 1200px;
$breakpoint-desktop-min: 1201px;
$breakpoint-desktop-max: 99999999px;
