@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '../../vars' as *;

.actionsButtonText {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .overflowMenuContainer {
    & > div {
      margin-left: unset;
      margin-right: -(layout.$spacing-06);
      & > div {
        left: unset;
        right: -6.025rem;
      }
    }
  }
}
