@use '@carbon/layout';

.omrs-snackbars-container {
  z-index: 9001;
  position: fixed;
  width: 20rem;
  bottom: layout.$spacing-05;
  left: layout.$spacing-05;
  gap: layout.$spacing-03;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Tablet */
.omrs-breakpoint-lt-desktop {
  .omrs-snackbars-container {
    bottom: 5.5rem;
  }
}

.omrs-snackbar-mounting,
.omrs-snackbar-mounting > * {
  padding: 0;
}

.omrs-snackbar-closing,
.omrs-snackbar-mounting {
  opacity: 0;
}
