@use "@carbon/styles/scss/spacing";

.omrs-snack-bars-container {
  z-index: 1000;
  position: fixed;
  width: 20rem;
  display: flex;
  bottom: 1rem;
  left: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.omrs-snack-bar-mounting,
.omrs-snack-bar-mounting > * {
  padding: 0;
}

.omrs-snack-bar-closing,
.omrs-snack-bar-mounting {
  opacity: 0;
}
