@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.popup {
  position: fixed;
  flex: auto;
  bottom: 90px;
  right: 40px;
  width: 12%;
  height: 30%;
  z-index: 8000;
  background-color: $ui-02;
  padding: 20px;
  margin: 20px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}

.farRight {
  left: 80px;
  right: 0px;
  top: 16px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.helpButton {
  margin-bottom: 10px;
  padding: spacing.$spacing-02;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modalHeader {
  background-color: #f4f4f4;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.25rem;
  font-weight: bold;
}

.modalBody {
  padding: 20px;
  font-size: 1rem;
  line-height: 1.5;
  max-height: 400px;
  overflow-y: auto;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}

.modalButton {
  margin-left: 10px;
}
