@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '../../vars' as *;

.contactDetails,
.deceased {
  color: $text-02;
  width: 100%;
  border-top: 1px solid $ui-03;
}

.heading {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.row {
  @include type.type-style('body-compact-01');
  display: flex;

  &:first-child {
    border-bottom: 1px solid $ui-03;
  }
}

.row > .col {
  flex: 1;
  padding: layout.$spacing-05;

  &:nth-of-type(2n + 1) {
    border-right: 1px solid $ui-03;
  }
}

.row li {
  margin: layout.$spacing-03 0;
}

.relationship {
  display: flex;
  flex-flow: row nowrap;
}

.relationship div {
  flex: 1 1;
}
