.devtoolsTriggerButton {
  z-index: 7900;
  background-color: #c6c6c6;
  height: 40px !important;
  width: 40px !important;
  bottom: 10px;
  right: 8px;
  position: fixed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overridden {
  background-color: #da1e28;
}
