.devtoolsTriggerButton {
  z-index: 7900;
  background: #c6c6c6;
  bottom: 5rem;
  right: 0.25rem;
  position: fixed;
  border-radius: 0.25rem;
}

.overridden {
  background-color: #da1e28;
  color: white;
}
