@use '@carbon/colors';
@use '@carbon/layout';

.devtoolsTriggerButton {
  z-index: 7900;
  background-color: colors.$gray-30;
  height: layout.$spacing-08 !important;
  width: layout.$spacing-08 !important;
  bottom: layout.$spacing-11;
  right: layout.$spacing-02;
  position: fixed;
  border-radius: layout.$spacing-02;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overridden {
  background-color: colors.$red-60;
}
