@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 8000;
  background-color: $ui-03;
  border-top: 2px solid $ui-05;
  color: $color-gray-100;
  box-sizing: border-box;
}

.tabs {
  width: 100%;
}

.tabList {
  position: fixed;
  height: layout.$spacing-10;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.tabPanels {
  padding: layout.$spacing-06;
}

.farRight {
  position: absolute;
  right: layout.$spacing-04;
  top: layout.$spacing-04;
  display: flex;
  z-index: 1000;
}
