.devtoolsTriggerButton {
  z-index: 100000;
  background-color: #c6c6c6;
  height: 40px !important;
  width: 40px !important;
  bottom: 10px;
  right: 8px;
  position: fixed;
  border-radius: 2px;
}

.overridden {
  background-color: #da1e28;
}
