@use "@carbon/styles/scss/spacing";

.omrs-actionable-notifications-container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.omrs-actionable-notification-mounting,
.omrs-actionable-notification-mounting > * {
  padding: 0;
}

.omrs-actionable-notification-closing,
.omrs-actionable-notification-mounting {
  opacity: 0;
}
