
name: Report bundle size

on:
  pull_request_target:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: "turbo run build --color"
